<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "layouts/userinfo",user:@user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>

      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@books.user) do %>
              <%= attachment_image_tag @books.user,:profile_image,:fill,40,40,fallback:"no_image.jpg",size:"40x40" %><br>
              <%= @books.user.name %>
              <% end %>
            </td>

            <td>
              <%= link_to @books.title,book_path(@books) %>
            </td>

            <td>
              <%= @books.body %>
            </td>

            <td id="favorites_btn_<%= @books.id %>">
              <%= render "favorites/favorite",book: @books %>
            </td>

            <td nowrap>
                コメント数:<%= @books.book_comments.count %>
            </td>

          <% if @books.user == current_user %>
            <td>
              <%= link_to "Edit" ,edit_book_path(@books),class:"btn btn-success btn-sm" %>
            </td>
            <td>
              <%= link_to "Destroy",book_path(@books),method: :delete,"data-confirm"=>"本当に削除しますか？",class:"btn btn-danger btn-sm" %>
            </td>
          <% end %>
          </tr>
        </tbody>
      </table>

  <!--コメント一覧表示----------------------------------------------------------------->
      <h6 class="mb-3">コメント一覧</h6>
      <div id="book_comments">
        <%= render "book_comments/comment" ,book_comments:@book_comments %>
      </div>

  <!--コメント入力フォーム------------------------------------------------------------->
  <!--form_withではデフォルトで非同期通信なのでjsファイルを探しに行く(local:trueを記述すればhtmlファイルを探しに行く)-->

      <%= form_with(model:[@books,@book_comment]) do |f| %>
        <div class="form-group">
          <%= f.text_area :comment ,class:"form-control",id:"comment-textarea" %>
        </div>
        <%= f.submit "送信",class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>